<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../img/DaltonMavoLogo.png" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title h5">MAVO</h5>
      <p class="card-text">text </p>
      <a asp-action="MAVO">Klik hier om meer te weten te komen.</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">2014 - 2019</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../img/DaltonMavoLogo.png" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title h5">MBO4 Manager Retail</h5>
      <p class="card-text">text</p>
      <a asp-action="MBO">Klik hier om meer te weten te komen.</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">2014 - 2019</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../img/De_Haagse_Hogeschool.png" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title h5">HBO-ICT</h5>
      <p class="card-text">text</p>
        <a asp-action="HBO">Klik hier om meer te weten te komen.</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">2019 - heden</small>
    </div>
  </div>
</div>