*{
    font-family: "PathwayGothic","DMSans",sans-serif;
    color:#262626;
}
.JumboZwart{
    color: #262626;
}
.JumboGeel{
    color: #fbc300;
}
.bedrijfsInfo{
    margin-top: 1.5rem;
}
.bedrijfsInfo h1{
    padding: 0.2rem;
    border-bottom: solid #ECD91A 0.2rem;
    color:#ECD91A;
}
.bedrijfsInfo a{
    color:#ECD91A;
}
.text_block{
    background-color: #ECD91A;
    border:solid #ECD91A 2px;

    padding:1.25rem;
    margin:2rem;
    border-radius:0.6rem; 
}
.parallax{
    background-image: url("https://beheer.kippie.nl/media/84/2a/6a/1645709798/Kippie_Winkel_Banner2022.jpg");
    
    min-height: 350px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.foto{
    padding:0;
    margin:1rem;
    max-width: 500px;
    width: auto;
    border-radius: 2.5rem;
}
