<div class="card-deck">
  <div class="card" style="min-width: 18rem; max-width: 22rem;">
    <img class="card-img-top" src="../img/Kippie.png" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title h5">Winkel medewerker</h5>
      <p class="card-text">Als winkelmedewerker ben ik verantwoordelijk voor het realiseren voor de verkoop van kip. </p>
      <a asp-action="KippieWinkelmedewerker">Klik hier om meer te weten te komen.</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">maart 2017 - mei 2019</small>
    </div>
  </div>
  <div class="card" style="min-width: 18rem; max-width: 22rem;">
    <img class="card-img-top" src="../img/Kippie.png" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title h5">Order picker</h5>
      <p class="card-text">Als order picker was ik verantwoordelijk voor het klaarzetten van bestellingen voor winkels</p>
      <a asp-action="KippieOrderPicker">Klik hier om meer te weten te komen.</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">juni 2020 - november 2020</small>
    </div>
  </div>
  <div class="card" style="min-width: 18rem; max-width: 22rem;">
    <img class="card-img-top" src="../img/Jumbo Koornneef.png" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title h5">Medewerker AGF</h5>
      <p class="card-text">Bij Jumbo Koornneef was ik verantwoordelijk voor het verzorgen van de winkel en het aansturen van mensen waar nodig.</p>
        <a asp-action="Jumbo">Klik hier om meer te weten te komen.</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">mei 2018 - februari 2022</small>
    </div>
  </div>
    <div class="card" style="min-width: 18rem; max-width: 22rem;">
    <img class="card-img-top" src="../img/YoungCapital_next.png" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title h5">MigratieMedewerker</h5>
      <p class="card-text">Bij YoungCapital next ben ik verantwoordelijk voor het </p>
        <a asp-action="Jumbo">Klik hier om meer te weten te komen.</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">februari 2022 - heden</small>
    </div>
  </div>
</div>