<img class="img-fluid"  style="max-height:1000px;" src="https://media.indebuurt.nl/westland/2019/06/18235451/kippie-grill-maaltijden-winkels.jpg" alt="Kippie winkel in Poeldijk">
<h1 class="kippie">Kippie</h1>
<h2 class="h3">De winkel</h2>
In Poeldijk stond vroeger het hoofdkantoor van Kippie, en zij hadden in de loods iedere zaterdag een tijdelijke winkel van 7 tot 14 uur. Dit deden ze doordat er geen echte Kippie winkel in het Westland was, maar wel de loods. Dus vandaar vonden zij het een leuk idee om iedere zaterdag een tijdelijke winkel te doen. Dit bleek succesvol te zijn doordat de winkel wel iedere zaterdag storm liep.
<h2 class="h3">Mijn taken</h2>
Toen ik aangenomen was ging ik iedere zaterdag in de winkel staan. Hier was ik verantwoordelijk voor de verkoop van de producten en het zorgen dat de winkel er mooi en verzorgd uitzag. 
De winkel werkte net als bij een slager. Iedere klant die bij de winkel boodschappen doet, kwam in contact met mij of een van mijn collega’s. Hierdoor leerde ik klantvriendelijk te zijn, en hoe ik met klanten om gaan. Daarnaast heb ik hier geleerd om met klachten om te gaan, en deze zo goed mogelijk te verhelpen.
Tevens heb ik toen ik hier werkte ook veel ervaring op gedaan over de producten die zij daar verkochten.

<h2 class="h3">Wat ik heb geleerd?</h2>
<ul>
    <li>Gesprek voeren</li>
    <li>Klantgerichtheid</li>
    <li>Product kennis</li>
</ul>