<img class="img-fluid"  style="max-height:1000px;" src="https://media.indebuurt.nl/westland/2019/06/18235451/kippie-grill-maaltijden-winkels.jpg" alt="Kippie winkel in Poeldijk">
<h1 class="kippie">Kippie</h1>
<h2 class="h3">De winkel</h2>
In Poeldijk stond vroeger het hoofdkantoor van Kippie, en zij hadden in de loods iedere zaterdag een tijdelijke winkel van 7 tot 14 uur. Dit deden ze doordat er geen echte Kippie winkel in het Westland was, maar wel de loods. Dus vandaar vonden zij het een leuk idee om iedere zaterdag een tijdelijke winkel te doen. Dit bleek succesvol te zijn doordat de winkel wel iedere zaterdag storm liep.
<h2 class="h3">Mijn taken</h2>
Ik was werkzaam bij de Jumbo koornneef toen Kippie mij een ideale zomerbaan aanbood. Ik had met overeenstemming van de jumbo een lekker zomerbaantje van Juni tot en met augustus in het distributiecentrum als order Picker. Hierbij was ik verantwoordelijk voor het klaarzetten van de bestellingen die de winkels deden. 
In de laatste week van de zomervakantie verhuisde het distributiecentrum van Poeldijk naar Waddinxveen. Toen was ik verantwoordelijk voor het inplakken van alle handel, en het inladen van alle vracht in de vrachtwagens. Deze vrachtwagens reden op en neer om alle handel naar Waddinxveen te brengen.
Nadat de verhuizing compleet was, vroeg ik of ik kon helpen in de winkel die zij zaterdags hadden, en daar was mogelijkheid toe. Toen heb ik tot begin november in die winkel geholpen met de verkoop van de producten.
<h2 class="h4">Wat ik heb geleerd bij Kippie</h2>
<ul>
    <li>Controleren van eigen werk</li>
    <li>Omgeving bewustzijn</li>
    <li>Innovatief handelen</li>
</ul>