@{
    Layout = "~/Views/Shared/WerkLayout.cshtml";
    ViewData["Title"] = "Kippie";
    ViewData["Style"] = "~/css/Kippie.css";
    <link rel="stylesheet" href="~/css/Kippie.css">
}

<div class="bedrijfsInfo row">
    <div class="col-7">
        <h1>Kippie</h1>
        <a href="https://www.kippie.nl/">Meer info....</a>
    </div>
    <img src="../img/Kippie.png" class="right col-3">
</div>


<div class="row">
    <img class="left img-fluid foto" src="https://media.insiders.nl/uba/files/image/fotostudio7-7464_2442544853.jpeg">
    <div class="text_block col-6">
        <h2>Hier moet informatie komen over het bedrijf</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae luctus sapien, a facilisis nunc. Aliquam at enim dictum lacus facilisis luctus non a lorem. Praesent vestibulum luctus orci et ornare. Quisque efficitur est nulla, eu viverra purus vulputate sit amet. Curabitur libero dui, commodo id urna nec, pulvinar iaculis turpis. Nullam feugiat auctor pellentesque. Donec non mi a eros vehicula posuere ac nec eros. Maecenas nisi felis, dictum vel mi non, ullamcorper commodo velit. Curabitur id massa tincidunt, auctor purus in, convallis enim. Phasellus ac orci nunc. Ut sit amet neque dignissim, consequat tellus id, sagittis nunc. Curabitur ut est at mi molestie accumsan. Nullam mattis mollis nisl.</p>
    </div>
</div>
<div class="parallax ">
</div>

<div class="text_block animate__animated animate__slideInLeft">
            <h2>Hier moet informatie komen over mijn werkzaamheden deel1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae luctus sapien, a facilisis nunc. Aliquam at enim dictum lacus facilisis luctus non a lorem. Praesent vestibulum luctus orci et ornare. Quisque efficitur est nulla, eu viverra purus vulputate sit amet. Curabitur libero dui, commodo id urna nec, pulvinar iaculis turpis. Nullam feugiat auctor pellentesque. Donec non mi a eros vehicula posuere ac nec eros. Maecenas nisi felis, dictum vel mi non, ullamcorper commodo velit. Curabitur id massa tincidunt, auctor purus in, convallis enim. Phasellus ac orci nunc. Ut sit amet neque dignissim, consequat tellus id, sagittis nunc. Curabitur ut est at mi molestie accumsan. Nullam mattis mollis nisl.</p>
</div>

<div class="text_block animate__animated animate__slideInLeft">
            <h2>Hier moet informatie komen over mijn werkzaamheden 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae luctus sapien, a facilisis nunc. Aliquam at enim dictum lacus facilisis luctus non a lorem. Praesent vestibulum luctus orci et ornare. Quisque efficitur est nulla, eu viverra purus vulputate sit amet. Curabitur libero dui, commodo id urna nec, pulvinar iaculis turpis. Nullam feugiat auctor pellentesque. Donec non mi a eros vehicula posuere ac nec eros. Maecenas nisi felis, dictum vel mi non, ullamcorper commodo velit. Curabitur id massa tincidunt, auctor purus in, convallis enim. Phasellus ac orci nunc. Ut sit amet neque dignissim, consequat tellus id, sagittis nunc. Curabitur ut est at mi molestie accumsan. Nullam mattis mollis nisl.</p>
</div>
