@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welkom op mijn website. Dit dient als een soort van CV maar dan heb ik de meest gevoelige data er tussen uit gehaald. Daarnaast kan ik deze website ook upgraden met leuke uitprobeersels die ik heb gemaakt en waarvan ik dacht dat het leuk was om het op de website te gooien.</p>
</div>
